*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: thistle; 
}

#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#convertBtn{
    border-radius: 5px;
    background-color: rgba(222, 184, 135, 0.679);
    padding: 3px;
}

label{
    font-size: 23px;
}

input {
    font-size: 16px;
}

input {
    padding: 5px;
    width: 250px;
    border: 1px solid #999;
    border-radius: 5px;
}