html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
