/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
