#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  max-width: '500px';
  margin: '50px auto';
  padding: '20px';
  border: '1px solid #ccc';
  border-radius: '8px'
}