#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}

.clock {
  background-color: #333;
  color: #0f0;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}